
<div class="row   mt-5" >
   
    <div class="div col-3">
      <input   [(ngModel)]="hero.name"   type="text"    class="form-control  m-1  "  placeholder="name"  >
    </div>
    <div class="div col-3">
      <input   [(ngModel)]="hero.power"        type="text"    class="form-control  m-1  " placeholder="power" >
    </div>
    <div class="div col-3">
      <input   [(ngModel)]="hero.image"       type="text"    class="form-control  m-1  "  placeholder="image url" >
    </div>
    <div class="div col-3">
       <button   (click)="ajout()" class="btn  text-bold    form-control   m-1   ">Create</button>
    </div>
  
  </div>